html * {
    font-size: 2vw;
    font-size: 2vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color:black;
    text-align: center;
    font-size: 3em;
}
:root {
    --chinook: #99CDA9;
}
body {
    background-color:var(--chinook);
}
#p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span {
    font-size: 2em;
}
#nav1 {
    text-align: right;
}
#nav2 {
    text-align: left;
}
#h2 {
    text-align: center;
}
button {
    width:100px;
    height:25px;
    background: white;
    transition: width 2s;
}
#button_tran:hover {
    width: 200px;
}

/* Top and bottom links styling */
a:link, a:visited {
    background-color: #99CDA9;
    color: #F1FDF3;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #D1E9D2;
  }

#div1 {
    animation: mymove 5s;
    animation-timing-function: linear;
}

@keyframes mymove {
    from {left:0px;}
    to {left:300px;}
}