html {
    font-size: 2vw;
    font-size: 2vh;
}
h1 {
    color:black;
    text-align: center;
}
:root {
    --matcha: #69bf64;
}
body {
    background-color:var(--matcha);
}
.p1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
span {
    font-size: 2em;
}
nav {
    text-align: right;
}
#nav2 {
    text-align: center;
}

    